logs/
.sconsign.dblite
laines
*.o
*.sw[mnop]
roms/*
*.nes
*.pyc
*.log

test_client/common_pb2_grpc.py
test_client/common_pb2.py
test_client/deep_thought_pb2_grpc.py
test_client/deep_thought_pb2.py
test_client/nes_pb2_grpc.py
test_client/nes_pb2.py
